body {
  margin: 0px;
  padding: 0px;
}

td {
  margin: 0px;
  padding: 0px;
  border: solid 1px;
  width: 100px;
  height: 100px;
  font-size: 4em;
}

td div {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  height: 100px;
  width: 100px;
  background-color: white;
}

td div:hover {
  background-color: lightblue;
}

td div span {
  vertical-align:middle;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  height: 100px;
  width: 100px;

}
