body {
  margin: 0px;
  padding: 0px;
}

tr {
  margin: 0px;
  padding: 0px;
}

td {
  margin: 0px;
  padding: 0px;
  border: solid 1px;
  width: 150px;
  height: 150px;
  font-size: 6em;
}

td button {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  height: 150px;
  width: 150px;
  background-color: white;
}

td button:hover {
  background-color: lightblue;
}

td div span {
  vertical-align:middle;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  height: 150px;
  width: 150px;
}

#content{
  text-align: center;
}

#board{
  margin: auto;
}

#table{
  margin: auto;
}
